snippet date "Current Date"
`date +%x`
endsnippet

snippet time "Current Time"
`date +%X`
endsnippet

snippet greg "Greg Leaver <greg.leaver@gmail.com>" !
Greg Leaver <greg.leaver@gmail.com>
endsnippet
