global !p
import urllib
def url(text):
  return urllib.quote(text)
endglobal

snippet place "Google Maps Link" 
[${1:place}](http://maps.google.com/maps?q=${2:`!p snip.rv = url(t[1])`}) 
endsnippet

snippet wiki "Wikipedia Link" 
[${1:wiki}](http://en.wikipedia.org/w/index.php?title=Special:Search&search=${2:`!p snip.rv = url(t[1])`}) 
endsnippet
