snippet link "Link" 
[${1:text}](${2:http://${3:link}}) 
endsnippet

snippet em "Emphasis" 
*${1}* 
endsnippet

snippet strong "Strong" 
**${1}** 
endsnippet

snippet img "Image" 
![${1:text}](${2:path}) 
endsnippet
