[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/256-grayvim"]
	path = bundle/256-grayvim
	url = https://github.com/vim-scripts/256-grayvim.git
[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = https://github.com/vim-scripts/snipMate.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "bundle/LineCommenter"]
	path = bundle/LineCommenter
	url = https://github.com/vim-scripts/LineCommenter.git
