[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/256-grayvim"]
	path = bundle/256-grayvim
	url = https://github.com/vim-scripts/256-grayvim.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "bundle/LineCommenter"]
	path = bundle/LineCommenter
	url = https://github.com/vim-scripts/LineCommenter.git
[submodule "bundle/PHP-Indenting"]
	path = bundle/PHP-Indenting
	url = https://github.com/vim-scripts/PHP-correct-Indenting.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = git@github.com:gregleaver/snipmate.vim.git
